$cor_de_fundo: #000;
$cor_da_letra: #f3f8ff;
$cor_card: #2b2730;

$cor_rosa_dentro_1: rgba(233, 0, 255, 0.15);
$cor_rosa_borda: rgba(233, 0, 255, 1);
$cor_rosa_sombra: rgba(233, 0, 255, 0.5);
$cor_rosa_dentro_2: rgba(233, 0, 255, 0.25);

$cor_roxa_dentro: rgba(88, 0, 255, 0.15);
$cor_roxa_borda: rgba(88, 0, 255, 1);
$cor_roxa_sombra: rgba(88, 0, 255, 0.5);

$cor_amarela_dentro: rgba(255, 198, 0, 0.25);
$cor_amarela_borda: rgba(255, 198, 0, 1);
$cor_amarela_sombra: rgba(255, 198, 0, 0.5);

$cor_vermelha_dentro: rgba(239, 64, 64, 0.25);
$cor_vermelha_borda: rgba(239, 64, 64, 1);
$cor_vermelha_sombra: rgba(239, 64, 64, 0.5);
