@import "./variables";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: $cor_de_fundo;
  color: $cor_da_letra;
  width: 100%;
  min-height: 100vh;
  @include on_center;
}
